<section class="my-5">
    <h2 id="career-path" class="text-2xl font-medium mb-10">Career Path</h2>

    <ol class="relative border-s border-white-200 dark:border-white-700">
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-white"></div>
            <time class="mb-3 text-sm font-normal leading-none text-gray-300">March 2023 - Present</time>
            <h3 class="text-lg font-semibold text-white"><span class="font-bold text-[#EBE52C]">Full-stack Web Developer</span> at MulhacenSoft</h3>
            <p class="mb-4 mt-4 text-base font-normal text-gray-300">
                I develop, maintain, improve, and optimize web applications designed to manage <span class="text-white font-semibold">dental clinics</span>. These platforms handle a wide range of functionalities, including appointment scheduling, treatment plans, invoicing, payments, reporting, calendars, user and patient management, among others.
                <br><br>I work primarily with <span class="text-white font-semibold">PHP</span>, <span class="text-white font-semibold">jQuery</span> and <span class="text-white font-semibold">MySQL</span>, ensuring efficient, secure, and scalable systems tailored to the daily operations of dental professionals.
                <br><br>We follow the <span class="text-white font-semibold">Scrum</span> methodology to plan and track development cycles, and we use <span class="text-white font-semibold">Git</span> for version control and collaborative development in a team environment.
            </p>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-white"></div>
            <time class="mb-3 text-sm font-normal leading-none text-gray-300">2021 - 2023</time>
            <h3 class="text-lg font-semibold text-gray-900 text-white">Higher Diploma in <span class="font-bold text-[#EBE52C]">Web Application Development</span></h3>
            <p class="mt-4 text-base font-normal text-gray-300">
                During this two-year program, I gained solid training in full-stack web development. I learned how to design accessible, responsive user interfaces, manage and optimize databases through advanced queries, and develop both <span class="text-white font-semibold">client-side</span> and <span class="text-white font-semibold">server-side</span> functionality.
                <br><br>The curriculum also covered modern deployment practices using <span class="text-white font-semibold">Docker</span> and version control with <span class="text-white font-semibold">Git</span>.
            </p>
        </li>
    </ol>

</section>