<section id="extra-info" class="mt-15 pb-20">
    <h2 class="text-2xl font-medium mb-10">Extra Info</h2>
    <ul class="list-disc pl-5">
        <li>I hold a B2 English certificate, which allows me to communicate fluently in both spoken and written English.</li>
        <li>I have a valid driver's license.</li>
        <li>I'm currently expanding my skill set by studying cybersecurity independently, with a focus on web vulnerabilities and secure coding practices.</li>
    </ul>
</section>