<header class="flex">
    <nav class="m-auto p-[10px] bg-[#303030] rounded-b-xl">
        <a href="/">Home</a>
        <a href="#career-path">Career Path</a>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#extra-info">Extra Info</a>
    </nav>
</header>

<style>
    a {
        margin: 0 7px;
        font-size: 15px;
    }

    @media screen and (max-width: 600px) {
        header {
            display: none;
        }
    }
</style>