---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Test</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	:root {
		color-scheme: light dark;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #252525;
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}
	main {
		width: 600px;
		height: 100%;
		padding: 0 50px;
		margin: auto;
	}
</style>
